body {
    position: relative;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;

    background: linear-gradient(0deg, #d20000, #08b2b4, #f37fea, #0c4d01);
    background-size: 800% 800%;
    
    -webkit-animation: AnimationName 46s ease infinite;
    -moz-animation: AnimationName 46s ease infinite;
    animation: AnimationName 46s ease infinite;
}

@-webkit-keyframes AnimationName {
				    0%{background-position:50% 0%}
						    50%{background-position:51% 100%}
								    100%{background-position:50% 0%}
}
@-moz-keyframes AnimationName {
				    0%{background-position:50% 0%}
						    50%{background-position:51% 100%}
								    100%{background-position:50% 0%}
}
@keyframes AnimationName { 
				    0%{background-position:50% 0%}
						    50%{background-position:51% 100%}
								    100%{background-position:50% 0%}
}

.splash {
    text-align: center;
    font-size: 600%;
}

.details {
    text-align: center;
    font-size: 600%;
}


